<%- include('../../header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard" class="active">Dashboard</a></li>
                            <li><a href="/admin/blog/display">Blogs</a></li>
                            <li><a href="/admin/categorydisplay">Categories</a></li>
                            <li><a href="/admin/contactdisplay">Contact</a></li>
                            <li><a href="/admin/aboutdisplay">About</a></li>
                           
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>Contact</h1>
                                </div>
                                <div class="dash-nav">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aa">
                                        Add Contact
                                    </button>
                                </div>
                            </div>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>#ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone No.</th>
                                        <th>Message</th>
                                        <th>Action</th>
                                    </tr>
                                    <% d.forEach((item)=>{ %>
                                        <tr>
                                            <td><%= item._id %></td>
                                            <td><%= item.name %></td>
                                            <td><%= item.email %></td>
                                            <td><%= item.phone %></td>
                                            <td><%= item.message %></td>
                                            <td>
                                                <a href="/contactview/<%= item._id %>" class="btn btn-info">View</a>
                                                <a href="/contactedit/<%= item._id %>" class="btn btn-warning">Edit</a>
                                                <a href="/contactdelete/<%= item._id %>" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    <% }) %>
                                    
                                
                                </table>
                        </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="modal fade" id="aa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="/contactinsert">
                <div class="mb-3">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control">
                    <label>Phone Number</label>
                    <input type="number" name="phone" class="form-control">
                    <label>Message</label>
                    <textarea class="form-control" name="message"></textarea>
                </div>
                
                <button type="submit" class="btn btn-info">Submit</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</section>

<%- include('../../footer.ejs') %>